@import "tailwindcss";

@font-face {
  font-family: "Nohemi";
  src: url("/fonts/nohemi.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.nohemi {
  font-family: "Nohemi", sans-serif;
}

.geist {
  font-family: "Geist", sans-serif;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #00d26a;
  color: black;
}
